{{#each clips as |clip|}}
  {{!-- {{log clip}} --}}
  <section class="clip-item" data-id="{{clip.id}}">
    <h6>{{clip.category}}</h6>
    <h4>
      {{clip.title}}
    </h4>
    <h6>{{clip.location}}</h6>
    <h5>{{clip.position}}</h5>
    <p>{{clip.start_time}} to {{clip.end_time}}</p>
    <h6>Description</h6>
    <p class="clip-desc">
        {{clip.description}}
    </p>
    {{> ./partials/edit clip = clip}}
  </section>

{{/each}}
